*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times New Roman', serif;
}

body > * + * {
  margin-top: 1rem;
}

.wrapper {
  max-width: 800px;
  width: 80%;
  margin-inline: auto;
}

header {
  margin-top: 3rem;
}

h1, h2, h3, p {
  color: hsl(0, 0%, 20%);
}

.title {
  font-size: 3rem;
}

.fortune-text {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.fortune-text > * {
  text-wrap: balance;
  flex-grow: 1;
  line-height: 1.6;
}

.fortune-title {
  flex-basis: 25%;
}

.fortune-title h2 {
  font-size: 1rem;
}

.fortune-content {
  font-size: 1.2rem;
  flex-basis: 75%;
}