*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times New Roman', serif;
}

body > * + * {
  margin-top: 1.2rem;
}

.wrapper {
  max-width: 800px;
  width: 80%;
  margin-inline: auto;
}

header {
  margin-top: 3rem;
}

h1, h2, h3, p {
  color: hsl(0, 0%, 20%);
}

.title {
  font-size: 3rem;
}

.main-text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.2rem;
}

.main-text > * {
  line-height: 1.5;
  flex-grow: 1;
}

.author {
  flex-basis: fit-content;
}

.quote {
  flex-basis: 65%;
}

.author, .quote {
  max-width: max-content;
}

.author h2, .quote p {
  font-size: 1.1rem;
}